* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: white;
  color: black;
  font-size: 24px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 1rem 0.2rem;
}

.main-nav .logo {
  width: 80px;
}
.main-nav ul {
  display: flex;
}
.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li {
  font-size: 0.9rem;
  padding: 0 10px;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #000000;
  color: #fff;
  font-size: 1rem;
}

.btn:hover {
  opacity: 0.9;
}

/* showcase */

.showcase {
  position: relative;

  width: 100%;
  height: 70vh;
}
#first {
  padding-top: 30vh;
  padding-left: 5vw;
  width: fit-content;
}

#second {
  text-align: center;
  margin: 0 auto;
  padding-top: 40vh;
  width: fit-content;
}
.slider h2,
.slider p {
  font-size: 1rem;
  margin-bottom: 16px;
}
.slider h2 {
  font-size: 1.5rem;
}

.slider {
  position: relative;
  width: 100%;
  height: 70vh;
}
.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.slide.current {
  opacity: 1;
}

.buttons button {
  border: 0.1px #888888;
  background-color: white;
  color: #888888;
  padding: 13px 15px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.buttons button:hover {
  box-shadow: 1px 3px 3px 2px rgba(13, 13, 13, 0.1);
}
button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}
button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}
/*background images*/
.slide:first-child {
  background: url("../img/slide1.png") no-repeat center center/cover;
}
.slide:nth-child(2) {
  background: url("../img/slide2.jfif") no-repeat center center/cover;
}
/* Media queries */
@media (min-width: 911px) {
}
